@model Library.ExampleModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Published example into <a href="https://github-actions-azure-devops-integration-examples.azurewebsites.net/">Azure Web App</a>.</p>
    <p>The <a href="https://github.com/Adamsimsy/github-actions-azure-devops-integration-examples"></a> repo.</p>
    @Html.Raw(Model.Html)
    <p>Secret from key vault: @Html.Raw(Model.Secret)</p>
</div>
